openapi: 3.1.0
info:
  title: Forto Public Bookings Documents API
  description: 'Forto is a digital freight forwarder. The Public API exposes booking

    management, shipment operations, transport plans with milestone events,

    document handling, and subscription-based webhooks, plus token management

    for authentication.


    Endpoint categories are derived from the public API reference index at

    https://developers.forto.com/llms.txt.

    '
  version: '1'
  contact:
    name: Forto Developers
    url: https://developers.forto.com/
servers:
- url: https://api.forto.com
  description: Production
security:
- bearerToken: []
tags:
- name: Documents
paths:
  /shipments/{shipmentId}/documents:
    parameters:
    - $ref: '#/components/parameters/shipmentId'
    get:
      summary: List shipment documents
      operationId: listShipmentDocuments
      tags:
      - Documents
      responses:
        '200':
          description: Documents.
    post:
      summary: Upload shipment document
      operationId: uploadShipmentDocument
      tags:
      - Documents
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                type:
                  type: string
      responses:
        '201':
          description: Document uploaded.
  /shipments/{shipmentId}/invoices:
    parameters:
    - $ref: '#/components/parameters/shipmentId'
    get:
      summary: List shipment invoices
      operationId: listShipmentInvoices
      tags:
      - Documents
      responses:
        '200':
          description: Invoices.
components:
  parameters:
    shipmentId:
      name: shipmentId
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    bearerToken:
      type: http
      scheme: bearer
      description: Bearer token issued via the /tokens endpoint.
