openapi: 3.1.0
info:
  title: Forto Public Bookings Subscriptions API
  description: 'Forto is a digital freight forwarder. The Public API exposes booking

    management, shipment operations, transport plans with milestone events,

    document handling, and subscription-based webhooks, plus token management

    for authentication.


    Endpoint categories are derived from the public API reference index at

    https://developers.forto.com/llms.txt.

    '
  version: '1'
  contact:
    name: Forto Developers
    url: https://developers.forto.com/
servers:
- url: https://api.forto.com
  description: Production
security:
- bearerToken: []
tags:
- name: Subscriptions
paths:
  /subscriptions:
    get:
      summary: List subscriptions
      operationId: listSubscriptions
      tags:
      - Subscriptions
      responses:
        '200':
          description: Subscriptions.
    post:
      summary: Create subscription
      operationId: createSubscription
      tags:
      - Subscriptions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - event
              - callbackUrl
              properties:
                event:
                  type: string
                callbackUrl:
                  type: string
                  format: uri
                filter:
                  type: object
                  additionalProperties: true
      responses:
        '201':
          description: Subscription created.
  /subscriptions/{subscriptionId}:
    parameters:
    - name: subscriptionId
      in: path
      required: true
      schema:
        type: string
    delete:
      summary: Delete subscription
      operationId: deleteSubscription
      tags:
      - Subscriptions
      responses:
        '204':
          description: Subscription deleted.
  /inbox/events:
    get:
      summary: List inbox events
      operationId: listInboxEvents
      tags:
      - Subscriptions
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Events.
components:
  parameters:
    limit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
    offset:
      name: offset
      in: query
      schema:
        type: integer
        minimum: 0
  securitySchemes:
    bearerToken:
      type: http
      scheme: bearer
      description: Bearer token issued via the /tokens endpoint.
