openapi: 3.1.0
info:
  title: Forto Public Bookings API
  description: 'Forto is a digital freight forwarder. The Public API exposes booking

    management, shipment operations, transport plans with milestone events,

    document handling, and subscription-based webhooks, plus token management

    for authentication.


    Endpoint categories are derived from the public API reference index at

    https://developers.forto.com/llms.txt.

    '
  version: '1'
  contact:
    name: Forto Developers
    url: https://developers.forto.com/
servers:
- url: https://api.forto.com
  description: Production
security:
- bearerToken: []
tags:
- name: Bookings
paths:
  /bookings:
    get:
      summary: List booking requests
      operationId: listBookings
      tags:
      - Bookings
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Paginated list of bookings.
    post:
      summary: Create booking request
      operationId: createBooking
      tags:
      - Bookings
      responses:
        '201':
          description: Booking request created.
  /bookings/{bookingId}:
    parameters:
    - $ref: '#/components/parameters/bookingId'
    get:
      summary: Retrieve booking
      operationId: getBooking
      tags:
      - Bookings
      responses:
        '200':
          description: Booking.
    patch:
      summary: Update booking
      operationId: updateBooking
      tags:
      - Bookings
      responses:
        '200':
          description: Booking updated.
  /bookings/{bookingId}/finalize:
    parameters:
    - $ref: '#/components/parameters/bookingId'
    post:
      summary: Finalize booking
      operationId: finalizeBooking
      tags:
      - Bookings
      responses:
        '200':
          description: Booking finalized.
  /bookings/{bookingId}/discard:
    parameters:
    - $ref: '#/components/parameters/bookingId'
    post:
      summary: Discard booking
      operationId: discardBooking
      tags:
      - Bookings
      responses:
        '200':
          description: Booking discarded.
components:
  parameters:
    limit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
    bookingId:
      name: bookingId
      in: path
      required: true
      schema:
        type: string
    offset:
      name: offset
      in: query
      schema:
        type: integer
        minimum: 0
  securitySchemes:
    bearerToken:
      type: http
      scheme: bearer
      description: Bearer token issued via the /tokens endpoint.
